html, body{
    font-family: 'Open Sans', sans-serif;
    color: #6E7C7C;


}



/*---------------------------
    HEADER
-----------------------------*/

.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid #EEEEEE;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#topNav .nav > li > a {
    padding: 20px 15px;
}

.navbar-brand {
    padding: 5px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    z-index: 999;
}

.navbar .container .navbar-header {
    background-color: white;
}

.navbar-brand > img {
    margin-top: 6px;
}

#btnLogIn {
    display: none;
}

#myAccountDropdown {
    display: none;
}


.navbar-form{
    margin-top: 0;
    margin-bottom: 0;
}

#bottomNav {
    background-color: #ffffff;
    z-index: 500;
}



@media screen and (max-width: 992px) {

    .navbar .container > .navbar-collapse {
        background-color: #ffffff;
    }

}

@media screen and (max-width: 767px) {
    #bottomNav {
        top: 0;
        z-index: 999;
    }

    #topNav {
        display: none;
    }

    .navbar .container ul {
        margin: 127px 0 0 0;
        padding: 0px 23px;
        width: 100%;
    }

    .btn {
        display: block;
        width: 100%;
    }

    #btnLogIn {
        display: block;
    }

    #myAccount {
        display: none;
    }

    #myAccountDropdown {
        display: block;
    }
}

.affix {
    top: 0;
    width: 100%;
}

.affix + .container-fluid {
    padding-top: 70px;
}


/*-------------------- / HEADER ----------------------*/


/*----------------------------------------------------------

                    SIGN UP SECTION

-----------------------------------------------------------*/

#bannerMd, #bannerSm{
    display: none;
}


#bannerLg{
    display: block;
}

.mainBanner img{
    width: 100%;
}

#bannerHeader {
    color: #ffffff;
    position: relative;
    bottom: 300px;
    left: 420px;
    font-size: 40px;
    text-transform: capitalize;
}


@media screen and (max-width: 767px) {

    #bannerMd{
        display: block;
    }

    #bannerLg, #bannerSm{
        display: none;
    }


}


@media screen and (max-width: 360px) {

    #bannerMd,  #bannerLg {
        display: none;
    }

    #bannerSm{
        display: block;
    }


}


/*----------------------------------------------------------

                   PLANS SECTION

-----------------------------------------------------------*/


#bottomMain .planBox {
    height: 150px;
    color: #5D8CAE;
    margin: 10px 0;
    border-radius: 2px;
    border-top: solid 1px #BFBFBF;
    border-right: solid 1px #BFBFBF;
    border-bottom: solid 1px #BFBFBF;
}