html, body{
    font-family: 'Open Sans', sans-serif;
    color: #6E7C7C;
    font-size: 16px;
}

p {
    margin: 0 0 23px;
}




/*---------------------------
    HEADER
-----------------------------*/

.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid #EEEEEE;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#topNav .nav > li > a {
    padding: 20px 15px;
}

.navbar-brand {
    padding: 5px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    z-index: 999;
}

.navbar .container .navbar-header {
    background-color: white;
}

.navbar-brand > img {
    margin-top: 6px;
}

#btnLogIn {
    display: none;
}

#myAccountDropdown {
    display: none;
}


.navbar-form{
    margin-top: 0;
    margin-bottom: 0;
}

#bottomNav {
    background-color: #ffffff;
    z-index: 500;
}





@media screen and (max-width: 992px) {

    .navbar .container > .navbar-collapse {
        background-color: #ffffff;
    }

}

@media screen and (max-width: 767px) {
    #bottomNav {
        top: 0;
        z-index: 999;
    }

    #topNav {
        display: none;
    }

    .navbar .container ul {
        margin: 127px 0 0 0;
        padding: 0px 23px;
        width: 100%;
    }

    .btn {
        display: block;
        width: 100%;
    }

    #btnLogIn {
        display: block;
    }

    #myAccount {
        display: none;
    }

    #myAccountDropdown {
        display: block;
    }
}

.affix {
    top: 0;
    width: 100%;
}

.affix + .container-fluid {
    padding-top: 70px;
}


/*-------------------- / HEADER ----------------------*/


/*----------------------------------------------------------

                    SIGN UP SECTION

-----------------------------------------------------------*/

#bannerMd, #bannerSm{
    display: none;
}

#bannerLg{
    display: block;
}

.mainBanner img{
    width: 100%;
}

#bannerHeader {
    color: #ffffff;
    position: relative;
    bottom: 360px;
    left: 302px;
    font-size: 40px;
    text-transform: capitalize;
}


@media screen and (min-width: 1200px) {
    #bannerLg{
        display: block;
    }

    #bannerL{
        display: none;
    }
}

@media screen and (max-width: 1199px){
    #bannerL{
        display: block;
    }

    #bannerLg{
        display: none;
    }
}


@media screen and (max-width: 767px) {

    #bannerMd{
        display: block;
    }

    #bannerLg, #bannerSm{
        display: none;
    }


}


@media screen and (max-width: 360px) {

    #bannerMd,  #bannerLg {
        display: none;
    }

    #bannerSm{
        display: block;
    }
}



/*----------------------------------------------------------

                   TOP MAIN SECTION

-----------------------------------------------------------*/

#topMain{
    margin-top: 30px;
}

#topMain .leftCol{
    border-radius: 4px;
    background: #ffffff;
    border: solid 1px #d8e8e5;
    padding: 18px;
}

input[type=text]#usrName,
input[type=text]#passWord{
    background-color: #d8e8e5;
    opacity: 0.75;
    border: 1px solid #d8e8e5;
    padding: 18px 15px;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 20px
}

input[type=text]#usrName{
    margin-top: 16px;
}


.btn-primary{
    border: 1px solid #2895a9;
}

#mbrDiv h3{
    font-size: 22px;
    text-align: center;
    font-weight: 600;
    margin-top: 0;
}

#loginDiv{
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin: 9px auto;
    padding-bottom: 0;
    margin-top: 0;
}


#loginDiv .btn-success{
    background-color: #5cd3b5;
    -webkit-box-shadow: none;
    box-shadow: none;
    /* -webkit-transition: all 0.4s; */
    -o-transition: all 0.4s;

}

#signUp .btn-info{
    background-color: #2fb1c7;
    border: 1px solid #2895a9;
    box-shadow: none;
    -o-transition: all 0.4s;
    padding: 20px 130px;
    width: 100%;
    margin: 11px 0;
    font-size: 1.2rem;
}

.btnLogin{
    width: 45%;
}

#sample {
    height: 50px;
    width: 100%;
    margin-top: 8px;
}

#sampleMenu{
    height: 40px;
    width: 100%;
    outline: none;
    border: solid 1px #d8e8e5;
    border-radius: 4px;
    padding-left: 15px;
    background-color: #ffffff;
}







/*----------------------------------------------------------

                   PLANS SECTION

-----------------------------------------------------------*/


#bottomMain .planBox {
    padding: 12px;
    margin: 15px 0;
    border-radius: 2px;
    border-top: solid 1px #d8e8e5;
    border-right: solid 1px #d8e8e5;
    border-bottom: solid 1px #d8e8e5;
}
#planBox1 p,
#planBox2 p,
#planBox3 p,
#planBox4 p{
   font-size: 0.9em;
    margin: 0 0 10px;

}

#planBox1,
#planBox2,
#planBox3,
#planBox4{
    border-left: 20px solid;

}

#planBox1 a,
#planBox2 a,
#planBox3 a,
#planBox4 a{
    color: #30B2CB;
    cursor: pointer;
    text-transform: capitalize;

}

#planBox1 a:hover,#planBox1 a:active,
#planBox2 a:hover,#planBox2 a:active,
#planBox3 a:hover,#planBox3 a:active,
#planBox4 a:hover,#planBox4 a:active{
    text-decoration: none;
    opacity: 0.8;
}


#planBox1 h4,
#planBox2 h4,
#planBox3 h4,
#planBox4 h4 {
    font-size: 1.5rem;
    text-transform: capitalize;

}

#planBox1 h4 span{
    border-color:  #30B2CB ;
}

.planBox h4 span{
    padding-top: 10px;
    border-bottom: 3px solid;
    padding-bottom: 14px;
    font-weight: 500;
    font-size: 1.2rem;
}



#planBox1{
    border-color: #30B2CB;
}
#planBox2{
    border-color: #1F87B9;
}

#planBox3{
    border-color: #355C9A;
}

#planBox4{
    border-color: #27406B;
}

#planBox1 h4{
    color:#30B2CB;
}

#planBox2 h4{
    color:#1F87B9;
}

#planBox3 h4{
    color:#355C9A;
}

#planBox4 h4{
    color:#27406B;
}

#bottomMain .leftCol{
    padding: 0;
}

#priceDiv.planBox{
    border: solid 4px #30B2CB;
}

#priceDiv h4{
    text-align: center;
    font-size: 1.5rem;
    color: #4A4A4A;
    text-transform: capitalize;
}

#priceDiv p{
   text-align: center;
}

#priceDiv #priceP2{
    font-size: 2rem;
    color: #30B2CB;
}

#introContent h3{
    color: #4A4A4A;
    font-weight: 500;
    margin-top: 7px;
    margin-bottom: 0;

}




#addNews, #addTimer {
    width: 48%;
    height: 600px;
    margin: 0 5px;
    border: solid 1px #d8e8e5;
    border-radius: 4px;
    padding: 0;
}

.infoImgBg {
    background-color: rgba(0, 179, 238, .5);
    height: 174px;
    position: relative;
    bottom: 172px;
    left: 0;
    z-index: 20;
    margin-bottom: -211px;
}

.infoIcon {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 20%;
    position: relative;
    bottom: 80px;
    left: 160px;
    z-index: 30;
}

.newsDiv {
    padding: 20px;
}

.newsDiv h4 {
    color: #4A4A4A;
    font-size: 1.2rem;
    margin-bottom: 38px;
}


.newsDiv a{
    color: #30B2CB;
    cursor: pointer;
    text-transform: capitalize;
}


.newsDiv a:hover{
    opacity: 0.5;
    text-decoration: none;
}



.addInfo ul li,
.addInfo ul li a {
    color: #2fb1c7;
    line-height: 1.5em;
}


.addInfo ul li a:hover {
    color: #2fb1c7;
    line-height: 1.5em;
    opacity: 0.8;
    text-decoration: none;
}


.addInfo ul li p {
    color: #6E7C7C;
    margin: 5px;
    font-size: .9em;
    line-height: 1.3em;
}

.introDiv{
    margin-bottom: 10px;
}

#countdownDiv{
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
    color: #4a4a4a;
}

#remain{
    text-align: center;
}

#nextExam{
    display: block;
    text-align: center;
    margin-top: 80px;
}



/*----------------------------------------------------------

                   FOOTER SECTION

-----------------------------------------------------------*/

footer{
    background-color: #EEEEEE;
    padding: 25px 0;
    color: #4A4A4A;
}

#copyrightSpan{
    text-align: left;
}

#legal{
    text-align: right;
}

#legal a{
    color: #4A4A4A;
}

#legal a:hover{
    text-decoration: none;
    opacity: 0.8;
}
